/*
General selectors
*/
* {
  box-sizing: border-box;
}

#introduction, #portfolio, #contact {
  display: block;
  position: relative;
  top: -52px;
  visibility: hidden;
}

.parallax-main {
  height: calc(100vh - 52px);
  background-image: url("./Gallery/iceland2.jpg");
  overflow-x: hidden;
  overflow-y: auto;
  background-size: cover;
  background-position: 0% 65%;
}

.title-margin {
  margin-bottom: 48px !important;
}

#modal-notification .notification {
}

.introduction, .portfolio, .contact {
  height: calc(100vh - 52px);
}

.introduction {
  padding: 30px;
}

.portfolio {
  background-color: #fff;
}

.contact {
  background: rgba(0, 0, 0, 0.6) !important;
}

.contact img {
  height: 30vh;
  padding: 15px;
  border-radius: 10%;
  border: solid;
  margin-bottom: 80px;
}

.copyright {
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding: 2px 20px;
  font-size: 10px;
  color: gray;
}

.tile.is-child {
  background-color: rgba(255, 255, 255, .25) !important;
}

.copyright a {
  color: gray;
}
